@font-face {
	font-family:"RobotoCondensedRegular";
	src:url(../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff);
}

@font-face {
	font-family:"RobotoCondensedBold";
	src:url(../fonts/RobotoCondensedBold/RobotoCondensedBold.woff);
}

@font-face {
	font-family:"FontAwesome";
	src:url(../fonts/FontAwesome/fa-solid-900.woff);
}

@font-face {
	font-family: "RobotoLight";
	src:url(../fonts/RobotoLight/Roboto-Light.woff);
}