@font-face {
	font-family: "HelveticaNeueW47LtCn";
	src:url(../fonts/HelveticaNeueW10-47LtCn.woff);
}
@font-face {
	font-family: "HelveticaNeueW77BdCn";
	src:url(../fonts/HelveticaNeueW10-77BdCn.woff);
}